1.project_zero/src/main/mule/1.project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8814137-f7a4-49ae-9042-5779828b1344" doc:description="http configuration from the listener" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1.project_zeroFlow" doc:id="3739c47f-5851-4f56-ba9b-69187ad367ca" >
		<http:listener doc:name="Listener" doc:id="868baddb-45ba-421b-8dea-6bf80ae75a04" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="cbbf374f-35d8-4d33-9253-4449c1970a29" message='"Start log"'/>
		<set-payload value='#["Hello world from set payload"]' doc:name="Set Payload" doc:id="055bb61b-a7b0-4582-9360-56cd1148bc79" />
	</flow>
</mule>
